$colorPaletteCardTransition: .16s ease-out;

.colorPaletteCard {
    &__wrapper {
        display: flex;
        flex-direction: column;
        border: 15px solid white;
        border-radius: 5px;
        min-width: 170px;
        max-width: 500px;
        margin: 20px;
        box-shadow: 0 10px 20px 0 transparentize(black, 0.8);
        font-size: 24px;

        .colorPaletteCard {
            &__color {
                &__wrapper {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    cursor: pointer;
                    border-radius: 5px;
                    overflow: hidden;
                }

                &__item {
                    height: 40px;
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    transition: height $colorPaletteCardTransition;
                    justify-content: flex-end;

                    &:hover {
                        height: 100px;

                        .colorPaletteCard__color__item__hex {
                            opacity: 1;
                        }
                    }

                    &__hex {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0 5px;
                        opacity: 0;
                        color: white;
                        margin: 0 20px 20px 0;
                        padding: 0 5px;
                        background: transparentize(black, 0.5);
                        width: fit-content;
                        transition: opacity $colorPaletteCardTransition, width $colorPaletteCardTransition;

                        &__copy-icon {
                            height: 30px;
                            min-width: 30px;

                            &--clicked {
                                animation-name: hex-copied;
                                animation-duration: 10s;
                            }
                        }
                    }
                }
            }
        }
    }
}